/*logo*/
.img-logo {
    width: auto;
    height: 60px;
    filter: drop-shadow(0px 0px 3px white);
}

.dropdownMenuButton {
    border: 1px solid rgb(172, 171, 171);
    font-size: 12px;
    width: 110px;
}

.dropdownMenuButton {
    padding: 5px 5px;
}

.dropdown-item {
    cursor: pointer;
}


#dropdownMenuButton3 {
    margin-left: 40px;
}

