html {
    overflow: scroll;
    overflow-x: hidden;
}

body, html {
    margin: 0 !important;
    padding: 0 !important;
}


/*  ------------------------- header -------------------------- */
.header {
    width: 100%;
    margin: 0;
    padding: 0 0 0 0%;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    height: 130px;
}

.header-account {
    width: 100%;
    height: 2em;
    line-height: 2em;
    font-size: 1.2vw;
    padding-right: 5%;
    color: white;
    padding-bottom: 0;
    background-color: #fa5838;
}

/* header-account drop down */
.header-account .dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.header-account .dropdown {
    position: relative;
    display: inline-block;
    z-index: 999;
}

.header-account .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    border-radius: 5px;
    text-align: start;
    font-size: 13px;
}

.header-account .dropdown-content a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header-account .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #00b33c !important;
}

.header-account .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    right: 100%;
    top: 30px;
    margin-right: -40px;
}

#signin-signup {
    position:relative;
    visibility: visible;
}

#account {
    position:absolute;
    top: 0;
    padding:0;
}

/*logo*/
.img-logo {
    width: auto;
    height: 80px;
    filter: invert(48%) sepia(53%) saturate(2946%) hue-rotate(336deg) brightness(96%) contrast(103%);
}


.signin-signup {
    display: inline;
}

.signin-signup a {
    color: white !important;
}

#account .img-user {
    width: 7%;
    height: auto;
}

#account .user-name {
    font-size: 14px;
    padding-top: 3px;
    padding-left: 0px;
}


/*bell message drop down */
.bi-bell {
    font-weight: bold;
}

.bell-message .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.bell-message .dropdown {
    position: relative;
    display: inline-block;
}

.bell-message .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 250px;
    margin-right: -30px;
}

.bell-message .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.bell-message .dropdown-content a:hover {background-color: #f1f1f1}

.bell-message .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    right: 100%;
    top: 30px;
}

.bell-message .dropdown:hover .dropbtn .bi-bell{
    filter: drop-shadow(0px 0px 3px white); ;
}

.bell-message .dropdown-content .item-mess .name-item-mess {
    font-size: 14px;
    color: #4d4d4d
}

.bell-message .dropdown-content .item-mess img {
    border: 1px solid #bfbfbf;
    width: 80%;
    height: auto;
}


/*  ----------------------- footer ---------------------- */

.footer {
    padding: 30px 50px;
    margin: 0px 0px 0px 0px;
    background-color: #fa5838;
    color: white;
}


.footer #footer-logo {
    width: 70%;
    height: auto;
    margin: 0 15%;
    filter: drop-shadow(0px 0px 5px white); ;
}

.footer #footer-slogan {
    font-size: 15px;
    text-align: center;
    line-height:110%;
}

.footer .footer-title {
    font-size: 23px;
    font-weight: bold;
}

.footer .footer-link {
    font-size: 15px;
}

.footer a.footer-link {
    color: white;
}



/*  ------------------------ content ------------------------- */

.content {
    margin: 0;
    padding: 5% 4% 5% 4%;
    width: 100%;
    position: relative;
    background-color: #F4F4F4;
}

.content .content-container .main-container {
    padding: 0;
    position: relative;
    margin-bottom: 13%;
}

.content .content-container .main {
    margin-right: 3%;
}


/* main header */
.content .content-container .main-container .main .main-header {
    background-color: white;
    font-size: 13px;
    margin:0 0 3% 0;
    padding:1em 7px 1em 7px;
    text-align: center;
    border-radius: 5px;
}

/* main content */
.content .content-container .main-container .main .main-content {
    margin-top: 0%;
    padding: 0px;
}


/* large item */
.content .content-container .main-container .main .main-content .main-content-large-item {
    background-color: white;
    font-size: 14px;
    margin-bottom: 4%;
    padding-top: 1.5%;
    border-radius: 5px;
}

.content .content-container .main-container .main .main-content .main-content-large-item .large-item-title {
    margin-bottom: 7px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 1.5%;
}

.content .content-container .main-container .main .main-content .main-content-large-item .large-item-title a {
    color: #262626;
}

.content .content-container .main-container .main .main-content .main-content-large-item .large-item-footer-container {
    background-color: #FFEEE6;
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content .content-container .main-container .main .main-content .main-content-large-item .large-item-footer-side1 {
    text-align: end;
}

.content .content-container .main-container .main .main-content .main-content-large-item .large-item-footer-side2 {
    color: #fa5838;
    text-align: end;
    padding-right: 4%;
}



/* list small item container*/
.content .content-container .main-container .main .main-content .item-container {
    padding: 0;
    margin: 0 0 25px 0px;
}


.content .content-container .main-container .main .main-content .item-container .item-price {
    color: #fa5838;
    font-weight: 600;
    
}

.content .content-container .main-container .main .main-content .item-container .item-unit-price {
    font-weight: 600;
}

.content .content-container .main-container .main .main-content .item-container .item-amount {
    font-weight: 600;
}



/* -------- main side ----------*/  /*Giao hang
.content .content-container .side-container {
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
    padding: 0;
    height: 300px;
    margin-bottom: 400px;
}*/

.content .content-container .side-container .side-item-container {
    background-color: white;
    border-radius: 5px;
    padding: 3.5% 2% 3.5% 3%;
    margin-bottom: 3%;
}


/*side item header */ 
.content .content-container .side-container .side-item-container .side-item-header {
    position: relative;
    margin-bottom: 2%;
}

.side-header-title {
    font-size: 15px;
    font-weight: 600;
}

.side-header-content {
    font-size: 14px;
    color: #6e6e6e;
}

.side-item-content-green {
    color: #09792e;
}


.side-item-header .side-header-subtitle {
    position: absolute;
    right: 3%;
    font-size: 13px;
    color:#0059b3;
    cursor: pointer;
    top: 5px;
}

/*side item main*/
.content .content-container .side-container .side-item-container .side-item-main textarea {
    margin-top: 5%;
    border:none;
    font-size: 13px;
    color: #808080;
    cursor: initial;
    resize: none;
    overflow: hidden;
    width: 100%;
}

.content .content-container .side-container .side-item-container .side-item-main textarea:focus {
    outline: none;
}


.content .content-container .side-container .side-item-container .side-item-main .side-item-field {
    position: relative;
    font-size: 14px;
    margin-bottom: 3%;
}

.side-item-field .side-item-title1 {
    color: #737373;
}

.side-item-field .side-item-title2 {
    position: absolute;
    right: 2%;
}

.side-item-field .side-item-finaltitle1 {
    font-size: 15px;
    color: #737373;
}

.side-item-field .side-item-finaltitle2 {
    font-size: 18px;
    color: #fa5838;
    position: absolute;
    right: 2%;
}

#btn-select-cancel-container {
    position: absolute;
    right: 2%;
    display:inline;
}

#btn-select-cancel-container #btn-select-cancel {
    width: 100%; 
    font-size: 11px;
}

.btn-cancel {
    background-color: #ffffff;
    color: #3f3f3f;
    border: 1px solid #cccccc;
}

.btn-cancel:hover {
    background-color: #918f8f;
    color: white;
}

.btn-submit {
    background-color: #fa5838;
    color: white;
}

.btn-submit:hover{
    background-color :#fc8269;
    box-shadow      : 2px 2px 4px rgba(0, 0, 0, 0.19);
    color: white;
}

.btn:focus {
    outline: none !important;
    box-shadow: none;
}


/* trong script */
.side-list-item-container {
    margin-top: 3%;
}

.side-list-item-container .side-item-name {
    color: #0059b3;
}

.side-list-item-container .side-item-field {
    font-size: 12px !important;
    margin: 0;
    padding: 0;
}

/*responsive */

@media screen and (max-width: 775px) {
    .side-container {
      margin-bottom: 600px !important;
    }

    .header-account {
        height: 3em;
    }
}


@media screen and (max-width: 900px) {
    .side-container {
      margin-bottom: 100px;
    }

    .header-account {
        height: 3em;
    }
}

@media screen and (max-width: 1500px) {
    .side-container {
      margin-bottom: 100px;
    }
}

.item-old-price {
    text-decoration: line-through;
    color: rgb(112, 112, 112);
}

.test {
    background-color: green;
}

.test2 {
    background-color: salmon;
}

.test3 {
    background-color: yellow;
}