<!--------- footer ----------->
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <a href="/"><img id="footer-logo" src="/images/layout/footer/logo.png"></a>
                <div id="footer-slogan">Trang thương mại điện tử</div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="footer-info">
                    <p class="footer-title">Thông tin</p>
                    <a href="../About/about_index.html"class="footer-link">Về chúng tôi</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-info">
                    <p class="footer-title">Liên lạc với chúng tôi</p>
                    <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>227 Nguyễn Văn Cừ, HCM, VN<br>
                    <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +00 151515<br>
                    <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: shop@mail.com<br>
                </div>
            </div>
        </div>
    </div>
</div> <!--------- end footer ----------->