<!--------- header ----------->
<div class='header'>
    <!-- SignIn SignUp Account -->
    <div class='header-account'>
        <div class='row justify-content-end'>
            <div class='col-md-8'></div>
            <div class='col-md-4 align-self-center' style="text-align: end;">
                <!-- Đã SignIn SignUp -->
                <div id='account'>
                    <!-- bell message -->
                    <div class='signin-signup bell-message'>
                        <div class="dropdown">
                            <span class='dropbtn'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                            </svg>
                            </span>
                            <div class="dropdown-content">
                                <span style="color:#a6a6a6; font-size: 14px; padding: 15px 0px 0px 15px;">Thông báo mới nhất</span>
                                <!-- item-mess 1-->
                                <a href="#">
                                    <div class='item-mess'>   
                                        <div class='row no-gutters'>
                                            <div class='col-md-3 col-sm-2 col-2'>
                                                <img class='img-fluid' src="/images/cart/voucher-1.png">
                                            </div>
                                            <div class='col-md-9 col-sm-7 col-7 align-self-center pl-2'>
                                                <span class='name-item-mess'>Bạn được tặng Voucher</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- item-mess 2-->
                                <a href="#">
                                    <div class='item-mess'>   
                                        <div class='row no-gutters'>
                                            <div class='col-md-3 col-sm-2 col-2'>
                                                <img class='img-fluid' src="/images/cart/voucher-2.png">
                                            </div>
                                            <div class='col-md-9 col-sm-7 col-7 align-self-center pl-2'>
                                                <span class='name-item-mess'>Bạn được tặng Voucher</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- item-mess 3-->
                                <a href="#">
                                    <div class='item-mess'>   
                                        <div class='row no-gutters'>
                                            <div class='col-md-3 col-sm-2 col-2'>
                                                <img class='img-fluid' src="/images/cart/voucher-3.png">
                                            </div>
                                            <div class='col-md-9 col-sm-7 col-7 align-self-center pl-2'>
                                                <span class='name-item-mess'>Bạn được tặng Voucher</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <p style="display: inline" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
                    <!-- account -->
                    <div class='signin-signup'>
                        <a><img class='img-user img-fluid' src="/images/cart/user-icon.png"></a>
                        <div class="dropdown">
                            <a class="dropbtn user-name" id='userName'></a>
                            <div class="dropdown-content">
                            <a href="#">Tài khoản của tôi</a>
                            <a id='don-mua'>Đơn mua</a>
                            <a href="./index.html">Đăng xuất</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>            
    <div class='row pl-5'>
         <!-- logo -->
        <a href="/"><img class='img-logo img-fluid' src="/images/cart/logo.png"></a>
        <span style='font-size:28px; padding-top: 20px; color: #fa5838;'>&nbsp;|&nbsp;</span>
        <span style='font-size:24px; font-weight: 500; padding-top: 25px; color: #fa5838;'>Giỏ hàng</span>
    </div>
</div> <!--------- end header ----------->