<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark accordion" style='background-color: #1a2d65' id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="http://localhost:3001/manager/system-manager">
        <div class="sidebar-brand-icon">
            <img class='img-logo img-fluid' src="/images/layout/header-main/logo.png">
        </div>
        <div class="sidebar-brand-text mx-3"></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" id='system-manage-nav-item'>
        <a class="nav-link" href="http://localhost:3001/manager/system-manager">
            <i class="fas fa-fw fa-building" style="font-size: 20px;"></i>
            <span style='font-size: 16px'>Quản lý hệ thống</span>
        </a>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" id='store-manage-nav-item'>
        <a class="nav-link" href="http://localhost:3001/manager/stores-manager">
            <i class="fas fa-fw fa-store" style="font-size: 20px;"></i>
            <span style='font-size: 16px'>Quản lý cửa hàng</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->